.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 367px;
  background-color: var(--white);
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  border-radius: 12px;
  padding: 24px;
}

.card__preview {
  flex-grow: 1;
  background-color: var(--grey-1);
}

.card__title {
  margin: 5px auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: var(--black);
}