.footer {
  padding: 72px 0;
  background-color: var(--white);
  text-align: center;
  grid-area: footer;
}

.footer__title {
  font-weight: normal;
} 

.footer__decription {
  width: 50%;
  margin: 0 auto;
  line-height: 24px;
}
